<!DOCTYPE html>
<html>
  <head>
  <link href="new.css">
  </head>
  <body>
    <div class="back">
        <%= form_for @blog do |f| %>
        <%= f.text_area :text %>
        <%= f.submit value="SENT" %>
      <% end %>
    </div>
  </body>
</html>